<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aode.guanwang.dao.EmployeeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aode.guanwang.pojo.Employee">
        <id column="em_id" property="emId" />
        <result column="em_name" property="emName" />
        <result column="em_sex" property="emSex" />
        <result column="em_info" property="emInfo" />
        <result column="em_picture" property="emPicture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        em_id, em_name, em_sex, em_info, em_picture
    </sql>

</mapper>
