<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aode.guanwang.dao.NewsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aode.guanwang.pojo.News">
        <id column="ne_id" property="neId" />
        <result column="ne_title" property="neTitle" />
        <result column="ne_content" property="neContent" />
        <result column="ne_editor" property="neEditor" />
        <result column="ne_time" property="neTime" />
        <result column="ne_source" property="neSource" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ne_id, ne_title, ne_content, ne_editor, ne_time, ne_source
    </sql>

</mapper>
